/*Masons Personal Stylesheet so I dont break the old one with my new stuff.
 GITHUB is complicated with little communication. */ 

/*I own a 38in monitor, px and most percentages are way off from the standard ???
 size. What looks perfect for me will not for you and vise versa.
  which is why this is on a different stylesheet. You should not use any of what is on this stylesheet */ 
  .header1beta{
    position: relative;
    bottom:15%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color:#ccece6;
    font-size: 200%;
}
 #fieldbackbeta{
    padding-top:10px;
    padding-bottom:10px;
    height:400px;
    background-color:#3D348B;
    margin: auto;
    width: 90%;
}
#bigdivmedia{
    padding-top:10px;
    padding-bottom:10px;
    height:20%;
    background-color:#F35B04;
    margin: auto;
    width: 90%;
}

#fieldbackalpha{
    padding-top:10px;
    padding-bottom:10px;
    height:10%;
    background-color:#F7B801;
    margin: auto;
    width: 90%;
}
h1{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color:#ccece6;
    font-size: 200%;
}
.field2alpha{
    position:relative;
    right:20%;
    display:flex;
    float: right;
    width:20%;
    height:fit-content;
    background-color:#7678ED;

}

.field2beta{
    position:relative;
    right:-20%;
    display:flex;
    float: left;
    width:20%;
    height:fit-content;
    background-color:#7678ED;

}